@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* CSS Reset */
body, h1, h2, p {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --primary-color: #858181;
  --bg: #FAEBD7;
  --box: #1667c4;
  --btn: #4CAF50;
  --btn-hover: #358f39;
  --fontme: 'Quicksand', sans-serif;
}

.container {
  font-family: var(--fontme);
  width: 50vh;
  height: auto;
  margin: 4em auto 1em;
  background-color: var(--bg);
  padding: 1em;
  border-radius: 15px;
  box-shadow: 1px 9px 12px -3px rgba(171,151,151,0.89);
  -webkit-box-shadow: 1px 9px 12px -3px rgba(171,151,151,0.89);
  -moz-box-shadow: 1px 9px 12px -3px rgba(171,151,151,0.89);
}
.container h2 {
  text-align: center;
  color: var(--primary-color);
}
.container hr {
  border: 2px solid var(--primary-color);
}

table {
  width: 100%;
  border-collapse: collapse;
}
table td {
  text-align: center;
}
input[type="number"] {
  font-family: var(--fontme);
  background-color: var(--bg);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}
input[type="number"]:focus {
  outline: none;
  border: 2px solid var(--btn);
}
button {
  font-family: var(--fontme);
  width: 50vh;
  padding: 0.5em;
  margin: 1em 0;
  border: none;
  border-radius: 5px;
  background-color: var(--btn);
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}
button:hover {
  background-color: var(--btn-hover);
}
.price-box {
  width: 50vh;
  height: auto;
  margin: 0 auto;
  background-color: var(--box);
  padding: 1em;
  border-radius: 15px;
  box-shadow: 1px 9px 12px -3px rgba(171,151,151,0.89);
  -webkit-box-shadow: 1px 9px 12px -3px rgba(171,151,151,0.89);
  -moz-box-shadow: 1px 9px 12px -3px rgba(171,151,151,0.89);
}
.price-box p {
  color: #fff;
  font-weight: 600;
}

footer {
  width: 100%;
  height: 5vh;
  background-color: var(--bg);
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

footer p {
  margin: 10px;
  font-size: 15pt;
  font-weight: 600;
}

footer a {
  text-decoration: none;
  color: #0073e6;
}

footer a:hover {
  text-decoration: underline;
}